
// ------ NPM -------

@import '~bootstrap/scss/bootstrap';


// ------ Includes -------

@import "resources/sass/includes/reset";


// ------ App -------

.app {


	// ------ Main nav -------

	.main-nav {
		display: flex;
		justify-content: flex-end;
	}

	.teacher-link {
		font-weight: 600;
	}

}