
// ------ NPM -------

@import 'node_modules/bootstrap/scss/bootstrap';


// ------ Includes -------

@import "resources/sass/includes/reset";


// ------ App -------

.app {


	// ------ Main nav -------

	.main-nav {
		display: flex;
		justify-content: flex-end;
	}

	.teacher-link {
		font-weight: 600;
	}


	// ------ Errors validation -------

	.errors {
		margin-top: .25rem;
		font-size: .875em;
		color: #dc3545;
	}
}